mods/schema/mods-3-6-local.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:drb="http://www.dartmouth.edu/~library/catmet/" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    xmlns="http://www.loc.gov/mods/v3" targetNamespace="http://www.loc.gov/mods/v3" elementFormDefault="qualified"
    attributeFormDefault="unqualified" vc:minVersion="1.1">

    <xs:override schemaLocation="mods-3-6.xsd">

        <!-- Limited note types -->

        <xs:complexType name="noteDefinition">
            <xs:simpleContent>
                <xs:extension base="stringPlusLanguage">
                    <xs:attribute name="displayLabel" type="xs:string"/>
                    <xs:attribute name="type">
                        <!-- Altered definition -->
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="additional physical form"/>
                                <xs:enumeration value="bibliography"/>
                                <xs:enumeration value="contact information"/>
                                <xs:enumeration value="date entered as MARC"/>
                                <xs:enumeration value="funding"/> <!-- 2016-10-19 -->
                                <xs:enumeration value="issuing body"/>
                                <xs:enumeration value="language"/>
                                <xs:enumeration value="modifying agency"/>
                                <xs:enumeration value="regularity"/>
                                <xs:enumeration value="statement of responsibility"/>
                                <xs:enumeration value="system details"/>
                                <xs:enumeration value="thesis"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeURI" type="xs:anyURI"/>
                    <xs:attributeGroup ref="xlink:simpleLink"/>
                    <xs:attribute name="ID" type="xs:ID"/>
                    <xs:attribute name="altRepGroup" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>

        <!-- Limited originInfo eventType types -->

        <xs:complexType name="originInfoDefinition">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="place"/>
                <xs:element ref="publisher"/>
                <xs:element ref="dateIssued"/>
                <xs:element ref="dateCreated"/>
                <xs:element ref="dateCaptured"/>
                <xs:element ref="dateValid"/>
                <xs:element ref="dateModified"/>
                <xs:element ref="copyrightDate"/>
                <xs:element ref="dateOther"/>
                <xs:element ref="edition"/>
                <xs:element ref="issuance"/>
                <xs:element ref="frequency"/>
            </xs:choice>
            <xs:attributeGroup ref="languageAttributeGroup"/>
            <xs:attribute name="displayLabel" type="xs:string"/>
            <xs:attribute name="altRepGroup" type="xs:string"/>
            <xs:attribute name="eventType">
                <!-- Altered definition -->
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="production"/>
                        <xs:enumeration value="publication"/>
                        <xs:enumeration value="distribution"/>
                        <xs:enumeration value="manufacture"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>

        <!-- Limited internetMediaType types -->
        <!-- Currently missing: video formats -->

        <xs:element name="internetMediaType">
            <!-- Altered definition -->
            <xs:annotation>
                <xs:documentation>An identification of the electronic format type, or the data
                    representation of the resource.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
                <xs:simpleContent>
                    <xs:restriction base="stringPlusLanguage">
                        <xs:enumeration value="application/epub+zip"/>
                        <xs:enumeration value="application/x-mobipocket-ebook"/>
                        <xs:enumeration value="application/pdf"/>
                        <xs:enumeration value="application/xhtml+xml"/>
                        <xs:enumeration value="audio/mpeg"/>
                        <xs:enumeration value="text/html"/>
                        <xs:enumeration value="image/jp2"/>
                        <xs:enumeration value="image/tiff"/>
                    </xs:restriction>
                </xs:simpleContent>
            </xs:complexType>
        </xs:element>
        
        <!-- Limited roleTerm authority -->
        
        <xs:complexType name="roleTermDefinition">
            <xs:simpleContent>
                <!-- Altered definition -->
                <xs:extension base="stringPlusLanguage">
                    <xs:attribute name="type" type="codeOrText"/>
                    <xs:attribute name="authority" fixed="marcrelator"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
        
        <!-- Limited identifier displayLabels -->
        
        <xs:complexType name="identifierDefinition">
            <xs:simpleContent>
                <xs:extension base="stringPlusLanguage">
                    <xs:attribute name="displayLabel">
                        <!-- Altered definition -->
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Digital text"/>
                                <xs:enumeration value="Electronic book"/>
                                <xs:enumeration value="Electronic database"/>
                                <xs:enumeration value="Electronic image"/>
                                <xs:enumeration value="Streaming audio"/>
                                <xs:enumeration value="Streaming video"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="typeURI" type="xs:anyURI"/>
                    <xs:attribute name="invalid" fixed="yes"/>
                    <xs:attribute name="altRepGroup" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
        
        <!-- Limited frequency terms and authority -->
        
        <xs:element name="frequency">
            <!-- Altered definition -->
            <xs:complexType>
                <xs:simpleContent>
                    <xs:restriction base="stringPlusLanguagePlusAuthority">
                        <xs:enumeration value="Continuously updated"/>
                        <xs:enumeration value="Daily"/>
                        <xs:enumeration value="Semiweekly"/>
                        <xs:enumeration value="Three times a week"/>
                        <xs:enumeration value="Weekly"/>
                        <xs:enumeration value="Biweekly"/>
                        <xs:enumeration value="Three times a month"/>
                        <xs:enumeration value="Semimonthly"/>
                        <xs:enumeration value="Monthly"/>
                        <xs:enumeration value="Bimonthly"/>
                        <xs:enumeration value="Quarterly"/>
                        <xs:enumeration value="Three times a year"/>
                        <xs:enumeration value="Semiannual"/>
                        <xs:enumeration value="Annual"/>
                        <xs:enumeration value="Biennial"/>
                        <xs:enumeration value="Triennial"/>
                        <xs:enumeration value="Completely irregular"/>
                        <xs:enumeration value="Unknown"/>
                    </xs:restriction>
                </xs:simpleContent>
            </xs:complexType>
        </xs:element>
        
        <!-- Additional date encoding types -->
        
        <xs:complexType name="dateDefinition">
            <xs:simpleContent>
                <xs:extension base="stringPlusLanguage">
                    <!-- Altered definition -->
                    <xs:attribute name="encoding">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="w3cdtf"/>
                                <xs:enumeration value="iso8601"/>
                                <xs:enumeration value="marc"/>
                                <xs:enumeration value="temper"/>
                                <xs:enumeration value="edtf"/>
                                <xs:enumeration value="fast"/> <!-- 2016-10-19 -->
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="qualifier">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="approximate"/>
                                <xs:enumeration value="inferred"/>
                                <xs:enumeration value="questionable"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="point">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="start"/>
                                <xs:enumeration value="end"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="keyDate" fixed="yes"/>
                    <!-- 2017-05-05 -->
                    <xs:anyAttribute processContents="lax" namespace="http://www.dartmouth.edu/~library/catmet/"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>

    </xs:override>

</xs:schema>
